<% if (!ocultarNavbar) { %>
    <%- include('partials/navbar') %>
        <% } %>

            <form id="FormEditar" action="/recibo_inq_impreso" method="GET" class="row">
                <input type="hidden" name="numrecibo" value="<%= recibo.numrecibo %>"> 


                <div class="receipt-container">
                    <!-- <div class="paid-stamp">PAGADO</div> -->
                    <div class="receipt-header">
                        <h1>RECIBO DE COBRO</h1>
                    </div>

                    <div class="receipt-details">
                        <div class="right">
                            <p><strong>Fecha:</strong> <%= fechaActual %></p>
                        </div>

                    </div>
                    <div class="receipt-details1">

                        <div class="left">
                            <p><strong>Recibo Nº:</strong> <span id="receiptNumber"><%= recibo.numrecibo %></span>
                        </div>
                        <div class="right">
                            <p><strong>Mes Cont:</strong> <span id="ownerName"><%= recibo.cuota %></span></p>
                        </div>
                    </div>

                    <div class="receipt-item">
                        <p><strong>Recibí de:</strong> <span id="receivedFrom"><%= recibo.apellidoinquilino %>,</span> la suma de pesos <%= letra %>, ($ <%= Number(recibo.total).toLocaleString("es-AR", {minimumFractionDigits: 2}) %>) en concepto de pago de la locacion correspondiente a la propiedad ubicada en la localidad de <%= propiedades.localidad %>, con frente a la calle <%= propiedades.direccion %>, mes de <%= mes_contrato %> con vencimiento el dia <%= vencimiento %> de <%= mes_contrato %>.</p>
                    </div>
                    <div class="form-row">

                        <label for="mensualidad" class="form-label">Mensualidad</label>
                        <span>$</span>
                        <input type="text" name="mensualidad" value="<%= recibo.importemensual %>">
                    </div>
                    <div class="form-row">

                        <label for="abl" class="form-label">ABL</label>
                        <span>$</span>
                        <input type="text" name="abl" value="<%= recibo.abl %>">
                    </div>
                    <div class="form-row">

                        <label for="aysa" class="form-label">AYSA</label>
                        <span>$</span>
                        <input type="text" name="aysa" value="<%= recibo.aysa %>">
                    </div>
                    <div class="form-row">

                        <label for="exp_comunes" class="form-label">EXPENSAS COMUNES</label>
                        <span>$</span>
                        <input type="text" name="exp_comunes" value="<%= recibo.expcomunes %>">
                    </div>
                    <div class="form-row">

                        <label for="seguro" class="form-label">SEGURO</label>
                        <span>$</span>

                        <input type="text" name="seguro" value="<%= recibo.seguro %>">
                    </div>
                    <div class="form-row">

                        <label for="varios" class="form-label">VARIOS</label>
                        <span>$</span>
                        <input type="text" name="varios" value="<%= recibo.varios %>">
                    </div>

                    <div class="receipt-total">
                        Total: <span id="totalAmount"><span>$</span> <%= Number(recibo.total).toLocaleString("es-AR", {minimumFractionDigits: 2}) %></span></span>
                    </div>

                    <div class="receipt-signature">
                        <div class="signature-line"></div>
                        <p>Firma y Aclaración</p>
                    </div>
                </div>
            </form>
            <link rel="stylesheet" href="/css/recibo_imprimir.css">
            <!-- <script>
                window.onload = () => {
                    window.print();
                };
            </script> -->
            <script>
                // Función para obtener la fecha actual en formato DD/MM/AAAA
                function getCurrentDate() {
                    const today = new Date();
                    const day = String(today.getDate()).padStart(2, '0');
                    const month = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0!
                    const year = today.getFullYear();
                    return `${day}/${month}/${year}`;
                }

                // Asignar la fecha actual al elemento con id "currentDate"
                document.getElementById('currentDate').textContent = getCurrentDate();

              
            </script>
            </body>